.footer {
  	background: $white;
  	height: 5%;
}

.network {
  	display: flex;
  	&__item {
		margin-right: $margin;
	  	&:last-child {
		  	margin-right: 0;
		}
	}
  	&__link {
	  	color: $black;
	  	&:hover {
		  	color: $light-grey;
		}
	}

}