.aboutWrapper {
  	height: 100%;
}

.benefits {
  	height: 100%;
  	display:flex;
  	justify-content: space-between;
  	align-items: center;
  	flex-flow: wrap;
  	margin: auto;
  	&__item {
	   	display: flex;
	  	flex-flow: column;
	  	justify-content: center;
	  	width: 30%;
	  	height: 30%;
	  	background: $white;
	  	border: 1px solid $grey;
	  	text-align: center;
	  	padding: $padding;
	}
  	&__picture {
	  	width: 40%;
	  	height: 30%;
	  	background: $dark-grey;
	  	margin: 0 auto;
	  	border-radius: $border-radius;
	}
  	&__header {
	  	margin: $margin/2 0;
	  	font-size: $font-size + $font-size/2;
	}

}