//colors
$white: #ffffff;
$black: #000000;
$light-grey: #e9ebef;
$grey: #e4e5e7;
$dark-grey: #5f6b7b;
$red: #bf0017;


//font-size
$font-size: 14px;

//margin and padding
$margin: 20px;
$padding: 20px;