//colors
$white: #ffffff;
$black: #000000;
$light-grey: #e9ebef;
$grey: #e4e5e7;
$dark-grey: #5f6b7b;
$red: #bf0017;
$light-blue: #03a9f4;
$light-green: #29ca05;


//font-size
$font-size: 14px;

//border-radius
$border-radius: 5px;

//margin and padding
$margin: 20px;
$padding: 20px;