.wrapper {
  	height: 100vh;
  	position: relative;
}

.container {
   	width: 1176px;
  	margin: 0 auto;
  	height: 100%;
}

.row {
  	height: 100%;
	display: flex;
	justify-content: space-between;
  	align-items: center;
}
