.registerContent {
  	padding: 10% 0;
  	&__item {
		h2 {
		  	text-align: center;
		  	padding-bottom: $padding;
		}
	}

}

.registerForm {
  	width: 30%;
  	&__group{
	  	&_text_danger {
		  	color: $red;
		}
	}
  	&__input {
	  	width: 100%;
	}
  	&__button {
	  	width: 100%;
	  	background: $light-blue;
	  	cursor: pointer;
	}
}

.authorizationForm {
	width: 30%;
	&__input {
		  width: 100%;
	}
	&__button {
		width: 100%;
		background: $light-green;
	  	cursor: pointer;
	}
}
