.registerSection {
    height: 85%;
}

.registerContent {
  	padding: $padding*3;
  	&__item {
		display: none;
		h2 {
		  	text-align: center;
		  	padding-bottom: $padding;
		}
	}
  	&__item.active {
	  display: block;
	}
}

.registerForm {
  	width: 30%;
  	&__group{
	  	&_text_danger {
		  	color: $red;
		}
	}
  	&__input {
	  	width: 93%;
	}
  	&__button {
	  	width: 100%;
	  	background: $light-blue;
	}
}

.authorizationForm {
	width: 30%;
	&__input {
		  width: 93%;
	}
	&__button {
		width: 100%;
		background: $light-green;
	}
}
