<div class="aboutWrapper">
    <ul class="benefits">
        <li class="benefits__item">
            <div class="benefits__picture"></div>
            <h4 class="benefits__header">Benefits1</h4>
            <p class="benefits__description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </p>
        </li>
        <li class="benefits__item">
            <div class="benefits__picture"></div>
            <h4 class="benefits__header">Benefits2</h4>
            <p class="benefits__description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </p>
        </li>
        <li class="benefits__item">
            <div class="benefits__picture"></div>
            <h4 class="benefits__header">Benefits3</h4>
            <p class="benefits__description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </p>
        </li>
        <li class="benefits__item">
            <div class="benefits__picture"></div>
            <h4 class="benefits__header">Benefits4</h4>
            <p class="benefits__description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </p>
        </li>
        <li class="benefits__item">
            <div class="benefits__picture"></div>
            <h4 class="benefits__header">Benefits5</h4>
            <p class="benefits__description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </p>
        </li>
        <li class="benefits__item">
            <div class="benefits__picture"></div>
            <h4 class="benefits__header">Benefits6</h4>
            <p class="benefits__description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit
            </p>
        </li>
        <li class="benefits__item">
            <div class="benefits__picture"></div>
            <h4 class="benefits__header">Benefits7</h4>
            <p class="benefits__description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </p>
        </li>
        <li class="benefits__item">
            <div class="benefits__picture"></div>
            <h4 class="benefits__header">Benefits8</h4>
            <p class="benefits__description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </p>
        </li>
        <li class="benefits__item">
            <div class="benefits__picture"></div>
            <h4 class="benefits__header">Benefits9</h4>
            <p class="benefits__description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </p>
        </li>
    </ul>
</div>