<h2>Login or register</h2>
<form action="#" class="authorizationForm form">
    <div class="authorizationForm__group">
        <label for="login">
            Login
        </label>
        <input id="login" class="authorizationForm__input input" type="text" placeholder="Enter login..." required />
    </div>
    <div class="authorizationForm__group">
        <label for="password">
            Password
        </label>
        <input id="password" class="authorizationForm__input input" type="password" placeholder="Enter password..." required />
    </div>
    <div class="authorizationForm__group">
        <button id="autorization-button" class="authorizationForm__button  button" type="submit" onclick="autorization()">LogIn</button>
    </div>
</form>