<div class="adminContainer">
    <div class="build adminHeader">
        <h2>Developers</h2>
    </div>
    <div class="build tableContainer">
        <div class="adminButton">
            <button id="addDeveloper" class="adminButton__item adminButton__item_color_green button">Add new row</button>
            <button id="deleteDeveloper" class="adminButton__item adminButton__item_color_red button">Delete select row</button>
        </div>
        <!--<div class="inputContainer">
            <input type="number" class="input" id="developerNumber" placeholder="Enter number" />
            <input type="text" class="input"  id="developerName" placeholder="Enter name" />
            <input type="text" class="input"  id="developerTask" placeholder="Enter task" />
            <input type="email" class="input"  id="developerEmail" placeholder="Enter developer" />
            <input type="tel" class="input"  id="developerPhone" placeholder="Enter phone" />
            <input type="number" class="input"  id="developerAge" placeholder="Enter age" />
            <input type="text" class="input"  id="developerPosition" placeholder="Enter position" />
        </div>-->
        <table id="developerTable" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Task Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Age</th>
                    <th>Position</th>
                </tr>
            </thead>
        </table>
    </div>
</div>