<footer class="footer">
    <div class="container">
        <div class="row footerRow">
            <p>2019 Copyright Task Tracking System</p>
            <ul class="network">
                <li class="network__item">
                    <a href="#" class="network__link">
                        Fb
                    </a>
                </li>
                <li class="network__item">
                    <a href="#" class="network__link">In</a>
                </li>
                <li class="network__item">
                    <a href="#" class="network__link">Tl</a>
                </li>
                <li class="network__item">
                    <a href="#" class="network__link">Ln</a>
                </li>
                <li class="network__item">
                    <a href="#" class="network__link">GH</a>
                </li>
            </ul>
        </div>
    </div>
</footer>