<footer class="footer">
    <div class="container">
        <div class="row footerRow">
            <p>2019 Copyright Task Tracking System</p>
            <ul class="network">
                <li class="network__item">
                    <a href="https://www.facebook.com/" target="_blank" class="network__link">Fb</a>
                </li>
                <li class="network__item">
                    <a href="https://www.instagram.com/" target="_blank"  class="network__link">In</a>
                </li>
                <li class="network__item">
                    <a href="https://telegram.org/" target="_blank" class="network__link">T</a>
                </li>
                <li class="network__item">
                    <a href="https://www.linkedin.com/" target="_blank" class="network__link">Ln</a>
                </li>
                <li class="network__item">
                    <a href="https://github.com/" target="_blank" class="network__link">GH</a>
                </li>
            </ul>
        </div>
    </div>
</footer>