<h2>Register</h2>
<form action="#" class="registerForm form">
    <div class="registerForm__group">
        <label for="firstname">
            <span class="registerForm__group registerForm__group_text_danger">*</span>
            First Name
        </label>
        <input id="firstname" class="registerForm__input input" type="text" placeholder="Enter first name..." required />
    </div>
    <div class="registerForm__group">
        <label for="lastname">
            Second Name
        </label>
        <input id="lastname" class="registerForm__input input" type="text" placeholder="Enter second name..." />
    </div>
    <div class="registerForm__group">
        <label for="yourlogin">
            <span class="registerForm__group registerForm__group_text_danger">*</span>
            Login
        </label>
        <input id="yourlogin" class="registerForm__input input" type="text" placeholder="Enter login..." required />
    </div>
    <div class="registerForm__group">
        <label for="yourpassword">
            <span class="registerForm__group registerForm__group_text_danger">*</span>
            Password
        </label>
        <input id="yourpassword" class="registerForm__input input" type="password" placeholder="Enter password..." required />
    </div>
    <div class="registerForm__group">
        <button   id="register-button" class="registerForm__button button" type="submit" onclick="registerButton()">Register</button>
    </div>

</form>