<div class="sliderContainer">
    <ul id="slides" class="slider">
        <li class="slider__item  showing">
            <div class="dimmingPictures">
                <div class="container">
                    <div class="row">
                        <h1>Task Tracking System</h1>
                    </div>
                </div>
            </div>
        </li>
        <li class="slider__item">
            <div class="dimmingPictures">
                <div class="container">
                    <div class="row-center">
                        <h2>Manage Customer</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi distinctio excepturi
                            nulla minus consequuntur sunt veritatis libero, hic omnis aspernatur id recusandae,
                            modi sint quidem molestiae asperiores, quas blanditiis doloribus?</p>
                    </div>
                </div>
            </div>
        </li>
        <li class="slider__item ">
            <div class="dimmingPictures">
                <div class="container">
                    <div class="row-center">
                        <h2>Manage Task</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi distinctio excepturi
                            nulla minus consequuntur sunt veritatis libero, hic omnis aspernatur id recusandae,
                            modi sint quidem molestiae asperiores, quas blanditiis doloribus?</p>
                    </div>

                </div>
            </div>
        </li>
    </ul>
    <div class="buttonsControl">
        <div class="container">
            <button class="buttonsControl__item button" id="previous">&lt;</button>
            <button class="buttonsControl__item button" id="pause">&#10074;&#10074;</button>
            <button class="buttonsControl__item button" id="next">&gt;</button>
        </div>
    </div>
</div>