<div class="sliderContainer">
    <ul id="slides" class="slider">
        <li class="slider__item  showing">
            <div class="dimmingPictures">
                <div class="container">
                    <div class="row">
                        <h1>Task Tracking System</h1>
                    </div>
                </div>
            </div>
        </li>
        <li class="slider__item">
            <div class="dimmingPictures">
                <div class="container">
                    <h2>Task Tracking System</h2>
                </div>
            </div>
        </li>
        <li class="slider__item ">
            <div class="dimmingPictures">
                <div class="container">
                    <h2>Task Tracking System</h2>
                </div>
            </div>
        </li>
    </ul>
    <div class="buttonsControl">
        <div class="container">
            <button class="buttonsControl__item button" id="previous">&lt;</button>
            <button class="buttonsControl__item button" id="pause">&#10074;&#10074;</button>
            <button class="buttonsControl__item button" id="next">&gt;</button>
        </div>
    </div>
</div>