<div class="adminContainer">
    <div class="build adminHeader">
        <h2>Task</h2>
    </div>
    <div class="build tableContainer">

        <div class="adminButton">
            <button id="addTask" class="adminButton__item adminButton__item_color_green button">Add new task</button>
            <button id="deleteTask" class="adminButton__item adminButton__item_color_red button">Delete select row</button>
        </div>
        <!--<div class="inputContainer">
            <input type="text" class="input"  id="taskName" placeholder="Enter name" />
            <input type="text" class="input"  id="taskCustomer" placeholder="Enter customer" />
            <input type="text" class="input"  id="taskDeveloper" placeholder="Enter developer" />
            <input type="date" class="input"  id="taskStDate" placeholder="Start date" />
            <input type="date" class="input"  id="taskFinDate" placeholder="Finish date" />
            <input type="text" class="input"  id="taskStatus" placeholder="Enter status" />
        </div>-->
        <table id="tableTask" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name Task</th>
                    <th>Customer</th>
                    <th>Developer</th>
                    <th>Data Start</th>
                    <th>Data Finish</th>
                    <th>Status</th>
                </tr>
            </thead>

            <tfoot>
                <tr>
                    <th>#</th>
                    <th>Task Name</th>
                    <th>Customer</th>
                    <th>Developer</th>
                    <th>Start Data</th>
                    <th>Finish Data</th>
                    <th>Status</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>